.title {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #ffc107;
    font-weight: 700;
}

.item-container{
    display: flex;
    justify-content: center;
    height: 70%;
}

.item-picture{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.picture{
    width: 50%;
    height: 50%;
}

.item-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.item-box{
    display: flex;
}